@font-face {
    font-family: 'Neuropol-Regular';
    src: url('css/fonts/Neuropol-Regular/Neuropol-Regular.eot?#iefix') format('embedded-opentype'), url('fonts/Neuropol-Regular/Neuropol-Regular.woff') format('woff'), url('fonts/Neuropol-Regular/Neuropol-Regular.ttf') format('truetype'), url('fonts/Neuropol-Regular/Neuropol-Regular.svg#Neuropol-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}


.cabecalho{
    padding: 20px;
}

.cabecalho h1{
    font-family: 'Neuropol-Regular';
}

.cabecalho h2{
    font-size: 1.2em;
    font-weight: 600;
}

.sub-sumario{
    padding: 10px;
}

.sub-sumario h2{
    font-size: 1.2em;
    font-weight: 600;
    text-decoration: underline;
}

.detalhes{
    margin-top: 20px;

}

table caption{
    text-align: center;
}