
@font-face {
  font-family: 'Neuropol-Regular';
  src: url('Neuropol-Regular.eot?#iefix') format('embedded-opentype'),  url('Neuropol-Regular.woff') format('woff'), url('Neuropol-Regular.ttf')  format('truetype'), url('Neuropol-Regular.svg#Neuropol-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
